.header {
	border-bottom-color: rgb(255, 255, 255, 255);
	cursor: pointer;
	padding: 1.75em 4em;
	border-bottom: 1px solid #e8e9eb;
}

.name {
	display: inline-block;
	font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	vertical-align: middle;
}